<div class="table-responsive">
    <table id = "dtBasicExample" class="table table-striped table-hover">
        <caption>All cell lines</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Cell type</th>
                <th scope="col">Species</th>
                <th scope="col">Tissue</th>
                <th scope="col">Details</th>
                {% if current_user.is_admin %}
                <th scope="col">Delete</th>
                {% else %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for cell_line in cell_lines %}

        <tr>
            <td width="70px">
                {{ cell_line.running_number }}
            </td>
            <td>
                {{ cell_line.name}}
            </td>
            <td>
                {{ cell_line.celltype}}
            </td>
            <td>
                {{ cell_line.species}}
            </td>
            <td>
                {{ cell_line.tissue}}
            </td>
            <td>
                <a href="{{ url_for('details', cell_id=cell_line.id) }}">click for details</a>
            </td>
            {% if current_user.is_admin %}
            <td>
                <a href="{{ url_for('delete', cell_id=cell_line.id) }}" onclick="return confirm('Are you sure to delete this entry?')">delete</a>
            </td>
            {% else %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
