{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <h2>Cell line information</h2>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#basic_info">Basic Info</a></li>
      <li><a data-toggle="tab" href="#genetic">Genetic Info</a></li>
      <li><a data-toggle="tab" href="#culture">Culture Info</a></li>
      <li><a data-toggle="tab" href="#additional">Additional Info</a></li>
      <li><a data-toggle="tab" href="#stocks">Stocks</a></li>
      <li><a data-toggle="tab" href="#export">Export</a></li>
    </ul>
    <div class="row">
            <div class="col-md-6">

        <div class="tab-content">
        <div id="basic_info" class="tab-pane fade in active">
                <table class="table table-striped">
                    <tbody>
                            <tr>
                            <th scope="row">id</th>
                                <td>{{ cell_line.running_number }}</td>
                            </tr>
                            <tr>
                            <th scope="row">Name</th>
                                <td>{{ cell_line.name }}</td>
                            </tr>
                            <tr>
                            <th scope="row">Cell type</th>
                                <td>{{ cell_line.celltype }}</td>
                            </tr>
                            <tr>
                            <th scope="row">Species</th>
                                <td>{{ cell_line.species }}</td>
                            </tr>
                            <tr>
                            <th scope="row">Tissue</th>
                                <td>{{ cell_line.tissue }}</td>
                            </tr>
                    </tbody>
                </table>
        </div>
        <div id="genetic" class="tab-pane fade">
                <table class="table table-striped">
                        <tbody>
                                <tr>
                                <th scope="row">Modification method</th>
                                    <td>{{ genotype.modmethod }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Locus/Gene</th>
                                    <td>{{ genotype.locus }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Epitope tag</th>
                                    <td>{{ genotype.tag }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Modification type</th>
                                    <td>{{ genotype.modtype }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Mutation</th>
                                    <td>{{ genotype.mutation }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Transgene</th>
                                    <td>{{ genotype.transgene }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Resistance</th>
                                    <td>{{ genotype.resistance }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Inducible</th>
                                    <td>{{ genotype.inducible }}</td>
                                </tr>
                        </tbody>
                    </table>
        </div>
        <div id="culture" class="tab-pane fade">
                <table class="table table-striped">
                        <tbody>
                                <tr>
                                <th scope="row">Biosafety level</th>
                                    <td>{{ culture.bsl }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Mycoplasma status</th>
                                    <td>{{ culture.mycoplasma }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Myocpl. PCR date</th>
                                    <td>{{ culture.pcrdate }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Culture type</th>
                                    <td>{{ culture.culturetype }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Culture Medium</th>
                                    <td>{{ culture.medium }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Notes</th>
                                    <td>{{ culture.notes }}</td>
                                </tr>
                                <tr>
                        </tbody>
                    </table>
        </div>
        <div id="additional" class="tab-pane fade">
                <table class="table table-striped">
                        <tbody>
                                <tr>
                                <th scope="row">Cell line generation protocol</th>
                                    <td>{{ addinfo.protocol }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Western blot</th>
                                    {% if wb %}
                                    <td>
                                    <a href="{{ url_for('full_size_image', filename = wb)}}">
                                        <img src = "{{ url_for('get_file', filename = wb)}}">
                                    </a>
                                    </td>
                                    {% else %}
                                    <td>NA</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                <th scope="row">Screening PCR</th>
                                    {% if pcr %}
                                    <td>
                                    <a href="{{ url_for('full_size_image', filename = pcr)}}">
                                        <img src = "{{ url_for('get_file', filename = pcr)}}">
                                    </a>
                                    </td>
                                    {% else %}
                                    <td>NA</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                <th scope="row">Sequencing data</th>
                                    {% if seq %}
                                    <td>
                                    <a href="{{ url_for('full_size_image', filename = seq)}}">
                                        <img src = "{{ url_for('get_file', filename = seq)}}">
                                    </a>
                                    </td>
                                    {% else %}
                                    <td>NA</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                <th scope="row">FACS plots</th>
                                    {% if facs %}
                                    <td>
                                    <a href="{{ url_for('full_size_image', filename = facs)}}">
                                        <img src = "{{ url_for('get_file', filename = facs)}}">
                                    </a>
                                    </td>
                                    {% else %}
                                    <td>NA</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                <th scope="row">Description</th>
                                    <td>{{ addinfo.description }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Comments</th>
                                    <td>{{ addinfo.comments }}</td>
                                </tr>
                                <tr>
                                <th scope="row">Published in</th>
                                    <td>{{ addinfo.publication }}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <div id="stocks" class="tab-pane fade">
                        <table class="table table-striped">
                                <tbody>
                                        <tr>
                                        <th scope="row">Freezer</th>
                                            <td>{{ stocks.freezer }}</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Rack</th>
                                            <td>{{ stocks.rack }}</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Box</th>
                                            <td>{{ stocks.box}}</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Position</th>
                                            <td>{{ stocks.position }}</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Medium</th>
                                            <td>{{ stocks.medium }}</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Passage</th>
                                            <td>{{ stocks.passage }}</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">Date</th>
                                            <td>{{ stocks.date }}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
                <div id="export" class="tab-pane fade">
                        <table class="table table-striped">
                                <tbody>
                                        <tr>
                                        <th scope="row">Export csv file</th>
                                            <td><a href="{{ url_for('export_csv', cell_id=cell_line.id)}}">Download</a></td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>

            </div>
    </div>
  </div>

{% endblock %}
